<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.webservices.tests.MakeOrder</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>userLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addInCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>placeAnOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addCardDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
