<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.addAddress()[pri:5, instance:com.webservices.tests.MakeOrder@2df32bf7]">addAddress</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:20</td>   <td>-51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.addCardDetails()[pri:4, instance:com.webservices.tests.MakeOrder@2df32bf7]">addCardDetails</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:20</td>   <td>-296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.addInCart()[pri:3, instance:com.webservices.tests.MakeOrder@2df32bf7]">addInCart</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:20</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.placeAnOrder()[pri:6, instance:com.webservices.tests.MakeOrder@2df32bf7]">placeAnOrder</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:19</td>   <td>-1159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.registerUser()[pri:1, instance:com.webservices.tests.MakeOrder@2df32bf7]">registerUser</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:20</td>   <td>-615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.userLogin()[pri:2, instance:com.webservices.tests.MakeOrder@2df32bf7]">userLogin</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/03/21 19:08:20</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeOrder.verifyOrder()[pri:7, instance:com.webservices.tests.MakeOrder@2df32bf7]">verifyOrder</td> 
  <td>main@591391158</td>   <td></td> </tr>
</table>
