<h2>Reporter output</h2><table><tr><td>UserName :8pqyBEckxc</td></tr>
<tr><td>UserPassword :FN2inXYhEn</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>POST http://10.12.40.220/register returned a response status of 500 Internal Server Error</div></div></td></tr>
<tr><td>Base64 encoded auth string: OHBxeUJFY2t4YzpGTjJpblhZaEVu</td></tr>
<tr><td><div style="display:block;margin-left:10px;"></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Unable to add item in cart.
Expected: not "200 OK"
     Actual: was "200"</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>JSONObject["id"] not found.</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>JSONObject["id"] not found.</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>POST http://10.12.40.220/orders returned a response status of 500 Internal Server Error</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Order has been placed successfully.
Expected: "201"
     Actual: was "500"</div></div></td></tr>
</table>